@charset "UTF-8";
/* CSS Document */

/*Remove this rule on your HTML elements as you start to fill them with content*/

.box-color {
	color: #fff;
	background:fixed;
	text-align: center;
	margin: 0;
}

/*basic reset*/

/*browsers have built in values for elements so we'll reset a few things to zero, you can add to this or remove items as needed*/

div,p,body,header,footer,section,article,nav { 
	margin: 0; 
	padding: 0; 
}	

img { 
	border: none; /*Remove border if image is a link*/
	margin: 0; 
	padding: 0; 
}

/*html selectors*/

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
}

/* Remove underlines from links */

a {
	text-decoration: none;
}

/*hide elements from browser but show for doc outline*/

.hidden {
	display: none;
}


/*Common page elements  */

/*This is essentially a box that we place the whole site in.  
We center the box using margin 0 auto and give it a fixed width of 428px.
428px would fit some phones. Sizes will vary depending on the projects
you work on and the intended audience, we may go as low as 320px */

#container {
	margin: 0 auto;
	width: 428px;
	background-color: #C3DBBA;
}

/* this is our grid based off of our XD file */
.grid-con {
	display: grid;
	grid-template-columns: repeat(4, 85px);
	grid-column-gap: 16px;
	padding-left: 20px;
	padding-right: 20px;
}

#header-con {
	background-color: #C3DBBA;
	padding-top: 10px;
	padding-bottom: 10px;
}

#header-logo {
	grid-column: 1/3;
}

#mobile-nav {
	grid-column: 4/-1;
}

.burger {
	height: 16px;
	background-color:black;
	display: block;
	margin-bottom: 10px;
}

/* index page */

#hero-con {
	background-color: #aaaaaa;
	background: fixed;
	height: 458px;
}

#hero-text {
	grid-column: 1/-1;
	/* Remove as content will dictate height */
	height: 380px;
	margin-top: 20px;
	color:rgb(249, 249, 194);

}

#image-slider-con {
	background-color: #dddddd;
	/* Remove as content will dictate height */
	height: 640px;
	position: relative;
}

#image-slider-con h2 {
	background-color: #ffffff;
	text-align: center;
	padding-top: 70px;
	padding-bottom: 70px;
	margin: 0;
}

#mobile-slider-left {
	position: absolute;
	left: 0;
	font-size: 120px;
	color:#fff;
	top: 200px;
}

#mobile-slider-right {
	position: absolute;
	right: 0;
	font-size: 120px;
	color:#fff;
	top: 200px;
}
#about-us-con {
	background-color:#fff ;
}
#about-us-con h1 {
	background-color: #ffffff;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
	margin: 0;
}

#about-us-text-con {
	background-color: #C3DBBA;
}

#about-us-text {
	grid-column: 1/-1;
	/* Remove as content will dictate height */
	height: 580px;
	margin-top: 70px;
	margin-bottom: 40px;
}

.about-us-photo {
	grid-column: 1/-1;
	display: block;
	margin: 20px auto 0 auto;
	border-radius: 50%;
}

#contact-us-con {
	margin-top: 100px;
	margin-bottom: 60px;
}

#contact-text {
	grid-column: 1/-1;
	/* Remove as content will dictate height */
	height: 350px;
	margin-bottom: 150px;
}

#contact-form {
	grid-column: 1/-1;
	/* Remove as content will dictate height */

}

/*Common page elements  */

#footer-con {
	height: 370px;
	background-color:#C3DBBA;
}

#footer-box {
	margin-top: 40px;
	/* Remove as content will dictate height */
	grid-column: 1/3;
	background-color: #C3DBBA;
}

#footer-newsletter {
	margin-top: 100px;
	/* Remove as content will dictate height */
	grid-column: 1/-1;
	background-color: #C3DBBA;
}

/* gallery page */

#hero-gallery-con {
	background-color: #aaaaaa;
	background:#ddd;
	height: 458px;
}

#hero-gallery-text {
	grid-column: 1/-1;
	/* Remove as content will dictate height */

}

#gallery-controls {
	grid-column: 1/-1;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}

.dot {
	background-color: #dddddd;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	margin: 5px;
  }
#gallery{ 
	background-color:white;
	border: #aaaaaa;
	border-radius: 3px;
}
#gallery h2 {
	text-align: center;
	grid-column: 1/-1;
	margin-top: 40px;
	margin-bottom: 40px;
}

.gallery-box {
	grid-column: 1/-1;
	background-color: white;
	text-align:center

}

.gallery-box p:nth-child(odd){
	color: red;
}
.gallery-box p:last-child{
	text-decoration: line-through;
}
.gallery-box img{ 
	width: 406px;
	height: 397px;
}
#footer-newsletter input {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 12pt;
	border:none;
}
	
#footer-newsletter2 {
	margin-top: 20px;
	height:40px;
	grid-column: 1/3;
	background-color:#C3DBBA
}
#footer-newsletter2 input{
padding-left: 10px;
padding-right: 10px;
padding-top: 5px;
padding-bottom: 5px;
color: white;
background-color: black;
border:none
}